@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  /* background-image: url('../public/bg.jpg'); */
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
}

@keyframes move{
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(-750%) translateY(-170%);
  }
  100%{
    transform: translateX(-1900%) translateY(-350%);
  }
}
.animate-move{
  animation:  move 5.5s ease-in-out;
}

